---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
ColumnLimit: 120
FixNamespaceComments: true
IndentPPDirectives: AfterHash
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
ReflowComments: true
SortIncludes: true
SpaceBeforeAssignmentOperators: true
Standard: Cpp11
SpacesBeforeTrailingComments: 1
AlignEscapedNewlines: Right
