BasedOnStyle: LLVM
SortIncludes: Never
ColumnLimit: 120
UseTab: Never
AlignEscapedNewlines: Left
AlignTrailingComments: true
FixNamespaceComments: true
AlignArrayOfStructures: Left
BinPackArguments: false
BinPackParameters: false