[submodule "dep/googletest"]
	path = dep/googletest
	url = https://github.com/google/googletest
[submodule "dep/gflags"]
	path = dep/gflags
	url = https://github.com/gflags/gflags
[submodule "dep/llvm-project"]
    path = dep/llvm-project
    url = https://github.com/llvm/llvm-project
    branch = release/9.x
