[submodule "dep/googletest"]
	path = dep/googletest
	url = https://github.com/google/googletest
[submodule "dep/libbacktrace"]
	path = dep/libbacktrace
	url = https://github.com/ianlancetaylor/libbacktrace
[submodule "dep/fmt"]
	path = dep/fmt
	url = git@github.com:fmtlib/fmt.git
