[submodule "dep/googletest"]
	path = dep/googletest
	url = https://github.com/google/googletest
[submodule "dep/filesystem"]
	path = dep/filesystem
	url = https://github.com/gulrak/filesystem

[submodule "dep/libunwind"]
	path = dep/libunwind
	url = https://github.com/libunwind/libunwind
[submodule "dep/fmt"]
	path = dep/fmt
	url = git@github.com:fmtlib/fmt.git
